.whiteboxparent {
    display: flex;
    justify-content: center;
    margin: 5vh 0 0 0;
    width: 100%;
    
}
.whitebox {
    
    box-shadow: .5px .5px 2px;
    height: 47vh;
    width: 70%;
}
.post-header {
    display: flex;
    align-items: center;
}
.post-title {
    margin: 1vh 0 0 2vw;
}
.post-username {
    margin: 1vh 1vw 0 35vw;
}
.post-profile-pic1 {
    margin: 1vh 0 0 0;
    border-radius: 50%;
    height: auto;
    width: 75px;
}
.img-content {
    display: flex;
}
.post-pic {
    margin: 1vh 0 0 1vw;
}
.post-content {
    margin: 1vh 0 0 1vw;
}