.auth-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(100deg, #FF70A6, #FF9770, #FFD670, #E9FF70 );
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(75deg, #FF9770, #FFD670 );
    width: 36%;
    box-shadow: 3px 3px 15px black;
}
img {
    margin-top: 15px;
    filter: invert(100%);
    width: 150px;
    height: auto;
}
h1 {
    color: white;
    font-size: 64px;
    font-weight: 900;
    margin: 0;
}
.input-box {
    margin: 10px 0;
}
.login-register-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    margin: 5px 25px 15px 0;
}
.register {
    margin: 5px 0 15px 25px
}
button {
    background: radial-gradient(circle at 50% -46%,#737373,#403d39);
    color: white;
    border: none;
    outline: none;
    height: 35px;
    width: 75px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}